<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>indexservlet</servlet-name>
    <servlet-class>be.vdab.servlets.IndexServlet</servlet-class>
    <init-param>
      <param-name>straat</param-name>
      <param-value>buntstraat</param-value>
    </init-param>
    <init-param>
      <param-name>huisnummer</param-name>
      <param-value>12</param-value>
    </init-param>
    <init-param>
      <param-name>postcode</param-name>
      <param-value>9940</param-value>
    </init-param>
    <init-param>
      <param-name>gemeente</param-name>
      <param-value>wondelgem</param-value>
    </init-param>
  </servlet>
</web-app>